ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header button {
  border-radius: 50px 20px;
  padding: 10px;
  background-color: rgb(255, 136, 0);
  color: white;
  border: 2px solid rgb(255, 136, 0);
}
li {
  float: right;
}
html, body{
  max-width: 100%;
  overflow-x: hidden;
}
li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
#newsletter{
  text-align: right;
}
#Menu{
  text-align: center;
}
#Designer{
  text-align: right;
}
